/* Global */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.relative {
	position: relative;
}

body {
	overflow-x: hidden;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

img {
	max-width: 100%;
}

.col-xs-6 {
	padding-right: 0px;
    padding-left: 0px;
}

section {
	overflow: hidden;
	font-family: 'OpenSans';
	padding-bottom: 20px;
	padding-top: 20px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 36px;
	line-height: 60px;
}

p {
	font-family: 'Myriad Pro';
}

.teal-background {
	background-color: #4888a3;
}

.col-xs-2 {
	font-size: 20px;
}

.col-xs-2 img {
	max-width: 100px;
}

.rotate {
	transform: scale(-1, 1);
}

/* Header */
#header {
	position: relative;
	background: no-repeat url("./img/background.png") 50% / 100%;
}

#header img {
	vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;  /* make it transparent */
}

#header h1 {
	font-family: "Century Gothic";
	font-size: 1.2em;
	font-weight: 700;
	line-height: 30px;
	margin-top: 30px;
	letter-spacing: 3px;
	color: white;
}

#header > div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#header .iphone {
	background: no-repeat url("./img/iphone.png") 50% / 100%;
	width: 10%;
}

#header .slogan {
	margin-top: 120px;
	width: 22%;
}

#header .sacom-slogan {
	background: no-repeat url("./img/company-name.png") 50% / 100%;
}

/* Description */
.hand-phone img {
	max-width: 90%;
}

.description-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.description-section .description {
	font-size: 22px;
	line-height: 46px;
	color: #264c65;
}

.how-we-work-section {
	color: white;
	padding-bottom: 50px;
}

.how-we-work-section h2 {
	padding-bottom: 50px;
}

.image-row img {
	margin-bottom: 20px;
	margin-left: 6%;
	max-width: 100%
}

.how-we-work-section .row {  
	
}

/* More info */
.more-info-section h2 {
	padding-bottom: 20px;
}

.more-info-section > div {
	padding-bottom: 20px;
}

/* Carousel */
.carousel p {
	margin-top: 20px;
	font-size: 20px;
}

/* Form */
.contact-us-section {
	padding-top: 40px;
	padding-bottom: 40px;
}

form {
	padding: 40px;
	padding-bottom: 80px;
	border: 8px solid white;
	font-family: 'OpenSansLight';
}

.form-title {
	margin-bottom: -20px;
	background-color: #4888a3;
	z-index: 10;
	color: white;
	font-size: 24px;
}

.form-button {
	margin-top: -25px;
    z-index: 10;
	background-color: #4888a3;
}

.form-button button {
	background-color: transparent;
    color: white;
    border: 1px solid #e7e7e7;
    padding: 6px 12px 6px 12px;
	font-family: 'OpenSansLight';
}

form input {
	margin-bottom: 10px;
}

form input::-webkit-input-placeholder, 
form textarea::-webkit-input-placeholder {
	color: white;
	font-family: 'OpenSansLight';
}

form input, form textarea {
	background: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid white;
	height: 40px;
}

p.author {
	margin-top: 50px;
	font-size: 16px;
}

/* Contact us */
.contacts-section {
	padding-bottom: 40px;
}

.contacts-section div {
 	font-size: 22px
}

.contacts-section h2 {
 	padding-bottom: 20px;
}

/* Carousel */
ul li {
	display: inline-block;
}

/* Footer */
footer {
	background-color: #34373a;
	color: white;
	padding: 30px;
}

footer i {
	border-radius: 25px;
    background: #1b88f5;
    width: 25px;
    padding: 5px;
}